body {
  margin: 0px;
  text-align: center;
  background-color: #1f2032;
  color: #0f909d;
}

#site-name {
  font-size: 50px;
  color: #0f909d;
  text-decoration: none;
}

#site-name:hover {
  color: #2f314d;
}

.timer {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  margin-left: 250px;
  font-size: 30px;
}

#remaining-time {
  margin-top: 11px;
}

#timer {
  margin-left: 20px;
  margin-top: 11px;
}

.btns {
  margin-top: 30px;
}

#note {
  font-size: 15px;
}
